
<div class="app__footer grid-cell grid12 no-gutter">

  <div class="app__footer__logo grid-cell grid2">
    <svg viewBox="0 0 300 300" preserveAspectRatio="xMinYMid meet">
      <use x="0" y="0" href="#logo-icon" />
    </svg>
  </div>

  <div class="app__footer__menu grid-cell grid2">
    <a href="#">Campaigns</a>
    <a href="#">Ad Builder</a>
    <a href="#">Sites</a>
    <a href="#">Team</a>
    <a href="#">My Profile</a>
  </div>

  <div class="app__footer__about grid-cell grid2">
    <h2>About Us</h2>
    <a href="#">Our Story</a>
    <a href="#">Showcase</a>
    <a href="#">Products</a>
    <a href="#">Work with Us</a>
  </div>

  <div class="app__footer__products grid-cell grid2">
    <h2>Our Platform</h2>
    <a href="#">For Publishers</a>
    <a href="#">For Agencies</a>
    <a href="#">For Designers</a>
  </div>
  <div class="app__footer__support grid-cell grid2">
    <h2>Support</h2>
    <a href="#">Help Centre</a>
    <a href="#">Knowledgebase</a>
  </div>

  <div class="app__footer__contact grid-cell grid2">
    <h2>Contact Us</h2>
    <div class="social">
      <svg viewBox="0 0 300 300" preserveAspectRatio="xMinYMid meet">
        <use x="0" y="0" href="#fb" />
      </svg>
      <svg viewBox="0 0 300 300" preserveAspectRatio="xMinYMid meet">
        <use x="0" y="0" href="#linkedin" />
      </svg>
    </div>
    <a href="#">info@playgroundxyz.com</a>
  </div>

</div>


</body>
</html>
