body{
	display:flex;
	min-height: 100vh;
	flex-direction:column;
}

.campaign__header{
	height: 9rem;
	background: black;
}

// LOGIN

.login__box{
	width: 40vw;
	height: 30vw;
	border: 1px solid black;
	padding: 1rem 2rem;

	h1{
		text-align: center;
		margin-bottom: 1.5rem;
	}

	button{
		display: block;
		background: @darkgrey;
		color: @white;
		text-align: center;
		position:relative;
		margin: 2rem auto;
		font-size: @size-1;
	}
	a{
		font-size: @size-small;
	}
}

// CHARTS

.charts{
	display:flex;
	flex:1;
	background: @lightgrey;
	flex-wrap:wrap;
}

.data-filter{
	background: @lightgrey;
	color: @black;
	flex-direction: column;
	flex: 1 0;
	margin: 0 0.5rem 0 0;
	padding: 1rem;
	width: 100%;
	input{
		width: auto;
		&.start{
			margin-right: 0.5em;
		}
	}

	h2{
		text-transform: uppercase;
		font-size: @size-1;
		font-weight: 700;
	}
}

.data-filter__date-slider{
	width: 100%;
	// height: 5rem !important;
	overflow: visible;
}

.data-filter__date-picker{
	display:flex;
	height: 1rem;
	width: 76%;
	margin: 2rem 0 2rem 10%;
	overflow: visible;
	justify-content: space-between;
	border-width: 0px 2px 2px 2px;
	border-color: @darkgrey;
	border-style: solid;
	padding: 0.3em;
	.date{
		height: 1rem;
		&.start{
			transform: translate(-50%, -170%);
		}
		&.end{
			transform: translate(50%, -170%);
		}


	}
}

.data-filter{
	 .select2-container,
	 .select2-dropdown{
		 width: 100% !important;
		 &:focus{
			 outline: none;
		 }
	 }
}

.data-filter__placement-select > label{
	display:block;
	position: relative;
	margin: 1rem 0;
	max-width: ~"calc(90% - 1.25em)";
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.campaign-details{
	position:relative;
	color: white;
	display:flex;
	flex-wrap: wrap;
	padding: 1rem 0 2rem;
	.grid-cell{
		width: ~"calc(50% - 1rem)";
		flex: none;
	}
	h5{
		color: white;
		text-transform: capitalize;
		font-size: @size-xsmall;
		margin:0.5rem 0rem;
	}
	p{
		font-size: @size-1;
		font-weight: 500;
		margin: 0.5rem 0;
	}
}

.campaign-edit{
	display:flex;
	flex-direction: column;
}

@palePink: lighten(@pgxyz-pink, 10%);

.data-filter__treemap{
	height: 25rem;
	font-size: @size-xsmall;
	font-weight: 700;
	display: flex;
  flex-direction: column;
  flex-wrap: wrap;
	color: white;
	margin-top: 1rem;
	> div{
		display:flex;
		border: 1px solid @midgrey;
		align-items: center;
		justify-content: center;
		width: 33%;
		text-align: center;
	}
	.dm{
		height: 50%;
		background: mix(@palePink, @palegrey, 100%);
	}
	.smh{
		height: 50%;
		background: mix(@palePink, @palegrey, 100%);
	}
	.elle{
		height: 40%;
		background: mix(@palePink, @palegrey, 90%);
	}
	.roar{
		height: 35%;
		background: mix(@palePink, @palegrey, 80%);
	}
	.bm{
		height: 25%;
		background: mix(@palePink, @palegrey, 70%);
	}
	.giz{
		height: 25%;
		background: mix(@palePink, @palegrey, 60%);
	}
	.junk{
		height: 25%;
		background: mix(@palePink, @palegrey, 50%);
	}
	.cnet{
		height: 25%;
		background: mix(@palePink, @palegrey, 40%);
	}
	.huff{
		height: 15%;
		background: mix(@palePink, @palegrey, 30%);
	}
	.mix{
		height: 10%;
		background: mix(@palePink, @palegrey, 20%);
	}

}

.select2 svg, .select2-results svg{
	display: inline-block;
	height: 1em;
	width: 1em;
}


.chart h3{
	// no justify-self at the moment
	position: absolute;
	top:0;
	width: 100%;
	text-align: center;
	font-weight: 400;
	font-size: @size-0;
	margin: 0.5rem 0 1rem;
	text-transform: uppercase;
}

.chart__circle{
	.flex-center;
	flex-direction: column;
	width: 9rem;
	height: 9rem;
	background: @ss-blue;
	color:white;
	font-size: @size-4;
	border-radius: 100%;
	box-shadow: inset 0 0 25px rgba(0,0,0,0.2);
}

.chart__circle__value{
	color: white
}


// charts

.content{
	flex-wrap: wrap;
}

a[href="http://www.amcharts.com/javascript-charts/"]{
	display:none !important;
}

// #chart--erTime,
// #chart--execImpsAgg {
// 	.amcharts-graph-stroke{
// 		opacity:0;
// 	}
// 	.amcharts-graph-fill{
// 		transform-origin: bottom center;
// 		transform: scaleY(0);
// 	}
// 	&.animateChart {
// 		.amcharts-graph-fill{
// 			transition: transform 1s linear;
// 			transform: scaleY(1);
// 		}
// 		.amcharts-graph-stroke{
// 			transition: opacity 1s linear 1s;
// 			opacity: 1;
// 		}
// 	}
// }`

.chart{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	width: ~"calc(100% - 1rem)";
	margin: 1rem 0.5rem;
	height: 20rem;
	border-radius: 0.5rem;
	border: 1px solid @lightgrey;
	background: @palegrey;
	overflow:hidden;

	&:before{
		content: '?';
		.flex-center;
		position:absolute;
		width: 1.3em;
		height: 1.3em;
		font-size: @size-small;
		border: 1px solid @black;
		border-radius: 100%;
		top: 0;
		right: 0;
		z-index: 10;
		margin: 0.6em;
	}
}

.chart__render{
	position: absolute;
	.flex-center;
	top:0;
	left:0;
	width: 100%;
	height: 100%;

	// .amcharts-pie-label tspan{
	// 	font-weight: bold;
	// 	font-size: 1.5em;
	// 	fill: white;
	// 	text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	// }
}

.chart__legend{
	position: absolute;
	bottom: 0;
	left:0;
	width:100%;
	font-size: @size-small;
}
.chart__legend__left, .chart__legend__right{
	// box-sizing: content-box;
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	text-align: left;
	padding: 2em;
	font-size: @size-xsmall;
}

.chart__legend__left{
	.legend__value{
		font-weight: 700;
		color: red
	}
}

.chart__legend__right{
	text-align: right;
	.legend__value{
		font-weight: 700;
		color: lime
	}
}

.chart--execImpsAgg{
	height: 20rem;
	.chart__controls{
		width:100%;
		height: 10%;
		margin-top: 3.5rem;
		.select2-container,
 	 	.select2-dropdown{
			position: absolute;
 		 width: 20% !important;
		 right:4rem;
 		 *:focus{
 			 outline: none;
 		 }
 	 }
	}
	.chart__render{
		position: relative;
		height: 70%;
		width: ~"calc(100% - 2rem)";
	}
}

.chart--impsDel{
	.chart__legend__left{
		&:before{
			position: relative;
			content:'';
			width: 1.5em;
			height: 1.5em;
			display:inline-block;
			margin-right: 0.5em;
			top: 0.4em;
			background: red;
		}
	}
}

.chart--vAv{
	.chart__legend__left,
	.chart__legend__right{
		.legend__value{
			color: @black;
		}
		&:before{
			position: relative;
			content:'';
			width: 1.5em;
			height: 1.5em;
			display:inline-block;
			margin-right: 0.5em;
			top: 0.4em;
			background: lighten(@pgxyz-pink, 10%);
		}
	}
	.chart__legend__right{
		&:before{
			background: red;
		}
	}
}

.chart--cProg{
	height: ~"calc(100% - 1rem)";
	margin: 0.5rem;
	border-radius: 0;
	border:0;
	background: transparent;
	&:before{
		display:none;
	}
	.chart__render{
		background:transparent;
	}
}

.chart--heat{
	h3{
		position:relative;
	}
	h4{
		font-size: @size-small;
		font-weight: 700;
		margin: 0 1rem;
		text-transform: uppercase;
	}
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 20rem;
	.chart__render{
		position: relative;
		height: 28%;
		width: 100%;
	}
	.amcharts-graph-label{
		font-size: 15px;
		// margin-bottom: 30px;
	}
}


.campaigns{
	align-self: flex-start;
	width: 100%;
	td, th{
		height: 3rem;
	}
}

table, td{
	position: relative;
	width: 100%;
	table-layout: fixed;
}

.table__actions{
	text-align:right !important;
	padding-right: 1em;
	svg{
		display: inline-block;
		// fill:white;
		width: 1.5em;
		height: 1.5em;
	}
}
.campaign__table{
	width: ~"calc(100% - 1rem)";
	margin: 0.5rem;
	border: 1px solid @midgrey;
	background: @darkgrey;
	color: @white;
	font-size: @size-0;
	tr{
		height: 3rem;
	}
	td{
		height: 5rem;
	}
	th{
		// text-align: left;
	}
	td{
		position: relative;
		text-align: left;
	}

	.campaign__expand{
		padding-left: 0.5rem;
		svg{
			fill: @white;
			height: 2rem;
		}
	}
	.campaign__brand{
		font-weight: 700;
		text-align: left;
	}

	.campaign__name{
	}
	.campaign__dates{
		position: relative;
	}
	.campaign__progress{
		text-align:left;
	}
	.campaign__actions{
		svg{
			fill: @white;
		}
	}

	.campaign__progress .chart-container{
		height: 4rem;
		margin: 0.2rem 0 0 0.2rem;
	}
}

.creative__table{
	position: relative;
	background: @white;
	color: @black;
	thead, th{
		height: 4rem;
	}
	tbody tr:nth-child(even){
		background: @palegrey;
	}
	// width: 100%;
}
.creative__title{
	background: @ss-blue;
}

.creative__title__name{
	color: white;
	text-overflow: ellipsis;
  white-space: nowrap;

}
.creative__title__thumb{
	padding-left: 2em;
	img{
		border-radius: 100%;
		width: 2.5rem;
		margin: 0.25rem;
		border: 1px solid white;
	}
}
.creative__title__format{
	position:relative;
	svg{
		fill: white;
		width: 7rem;
		height: 100%;
	}
}

.creative__title__author{
	svg{
		display: inline-block;
		vertical-align: middle;
		fill: white;
		width: 1.5em;
		height: 1.5em;
		margin-right: 0.5em;
	}
	span{
		color: @white;
		vertical-align: middle;
	}
}

.creative__title__status{
	svg{
		height: 1.5em;
		margin-right: 0.3em;
		fill:white;
	}
}

.placements__table{
	position: relative;
	// width: 100%;
	color: @black;
	border: 2px solid @ss-blue;
	td{
		box-sizing: content-box;
		padding-top: 1.5em;
		padding-bottom: 0.5em;
	}
}

.placement__status{
	padding-left: 2em;
	svg{
		display: inline-block;
		width: 1.5rem;
		height: 1.5rem;
	}
}
.placement__audience{
}
.placement__name{
	overflow:hidden;
	text-overflow: ellipsis;
  white-space: nowrap;
	padding-right: 2em;
}


.chart__progress-bar{
	position: relative;
	width: 100%;
	height: 1rem;
	background:@midgrey;
	margin-top: 1rem;
}
.chart__progress-bar__prog{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width: 80%;
	background: red;
	overflow:visible;
	text-align: right;
}

.chart__progress-bar__text{
	display:inline-block;
	posiiton: absolute;
	font-size: 0.9em;
	right:0;
	width: auto;
	transform: translate(0, -120%);
}
.placement__progress{
	position: relative;
}

.plch{
	h6{
		position: absolute;
		width: 100%;
		top:0.8em;
		text-transform: uppercase;
		text-align: center;
		font-size: @size-xsmall;
		color: @midgrey;
		mix-blend-mode: multiply;
		margin:0;
	}
	display: inline-block;
	position: relative;
	width: 3.4rem;
	height: 100%;
	margin:0.2em;
	// background-color: lime;
	svg{
		position: absolute;
		width: 100%;
		height: 100%;
		circle{
			stroke-width: 4px;
			transform-origin: 50% 50%;
			transform: rotate(-90deg);
		}
	}
}

.plch__result-text{
	position: absolute;
	width:100%;
	height:100%;
	display: flex;
	margin-top: 20%;
	font-size: 0.9em;
	justify-content: center;
	align-items: center;
}
