
@fontFamily: Roboto, Helvetica, Arial, sans-serif;

body{
	font-family: @fontFamily;
	-webkit-font-smoothing: antialiased;
}


.parameters(media-desktop){
	// @block: 2vw; // line height of paragraph
	@p-size: 1rem; // font-size in rem

	// modular scale values - minor third - http://type-scale.com/
	@size-4: 2.074;
	@size-3: 1.728;
	@size-2: 1.44;
	@size-1: 1.2;
	@size-0: 1;
	@size-small: 0.833;
	@size-xsmall: 0.694;


}

.parameters(media-small-device){
	// @block: 2vw; // line height of paragraph
	@p-size: 1rem; // font-size in rem

	// modular scale values - major second - http://type-scale.com/
	@size-4: 1.602;
	@size-3: 1.424;
	@size-2: 1.266;
	@size-1: 1.125;
	@size-0: 1;
	@size-small: 0.889;
	@size-xsmall: 0.79;


}

.parameters(media-phone-portrait){
	@block: 3vw; // line height of paragraph
	@p-size: 1rem; // font-size in rem

	// modular scale values - minor second - http://type-scale.com/
	@size-4: 1.296;
	@size-3: 1.215;
	@size-2: 1.138;
	@size-1: 1.067;
	@size-0: 1;
	@size-small: 0.937;
	@size-xsmall: 0.878;


}

.make-headings(@device){
	.parameters(@device);
	h1{
		font-size: @p-size * @size-4;
		line-height: ceil(@p-size * @size-4);
	}
	h2{
		font-size: @p-size * @size-3;
		line-height: ceil(@p-size * @size-3);
	}
	h3{
		font-size: @p-size * @size-2;
		line-height: ceil(@p-size * @size-2);
	}
	h4, .size-1{
		font-size: @p-size * @size-1;
		line-height: ceil(@p-size * @size-1);
	}
	p{
		font-size: @p-size * @size-0;
		line-height: ceil(@p-size * @size-0);
	}
	p.small{
		font-size: @p-size * @size-small;
		line-height: ceil(@p-size * @size-small);
	}
	p.xsmall{
		font-size: @p-size * @size-xsmall;
		line-height: ceil(@p-size * @size-xsmall);
	}
}

// some base font-sizes, set in rems, sized according to modular scale for that media query

.make-headings(media-desktop);

.media-small-device({
	.make-headings(media-small-device);
});

.media-phone-portrait({
	// uses fluid type - see dash_grid.less
	.make-headings(media-phone-portrait);
});

h1, h2, h3, h4, p{
	margin:0.5rem 0;
}
