<% include partials/header.html.ejs %>

<% var fakeToday = new Date(2017, 9-1, 15); %>

  <% var active = campaigns.filter(cp => moment(cp.dates.start).diff(fakeToday) < 0); %>
    <% var pending = campaigns.filter(cp => moment(cp.dates.start).diff(fakeToday) > 0); %>

      <div class="app__body campaigns-body">

        <div class="breadcrumbs">Campaigns <span class="breadcrumbs__arrow">&#9654;</span>  All</div>

        <!-- <div class="campaign-details"></div> -->

        <div class="campaigns">

          <div class="page-title grid">
            <h1 class="greeting-text grid-cell grid12">All Campaigns<div class="campaigns__count">You have <span><%= active.length %></span> active campaign and <span><%= pending.length %></span> pending campaigns</div></h1>


          </div>

          <div class="campaigns__filter grid">

            <div class="expand-buttons grid-cell grid7">

              <button class="expand-all">
              <svg viewBox="0 0 300 300" preserveAspectRatio="xMinYMid meet">
                <use class="plus" x="0" y="0" href="#expand-plus"></use>
              </svg>
              Expand All
            </button>
              <button class="collapse-all">
              <svg viewBox="0 0 300 300" preserveAspectRatio="xMinYMid meet">
                <use class="minus"  x="0" y="0" href="#expand-minus"></use>
              </svg>
              Collapse All
            </button>

            </div>

            <div class="greeting-comments grid-cell grid3">
              <label for="campaign-sort">Search</label>
              <input type="search" placeholder="search campaigns, creatives...">
            </div>


            <div class="sort-group grid-cell grid2">
              <label for="campaign-sort">Order</label>

              <select id="campaign-sort" class="data-filter__group-select">
          <option selected value="Delivery">Campaign</option>
          <option value="Audience">Placement</option>
          <option value="Category">Format</option>
          <option value="Format">Features</option>
        </select>
            </div>
          </div>

          <% campaigns.forEach(cp => { %>
            <% include partials/campaign-table.html.ejs %>
              <% }) %>

        </div>

      </div>

      <script src="/js/site.js"></script>


      <% include partials/footer.html.ejs %>
