<% include partials/header.html.ejs %>

  <script>
    $(document).ready(function() {
      var campaignStart = moment(cp.dates.start).format('ddd D MMMM');
      var campaignEnd = moment(cp.dates.end).format('ddd D MMMM');
      // var cProg = moment(new Date()).diff(moment(cp.dates.start), 'days');
      // cProg = cProg / cp.duration * 100;
      $('.startDate').text(campaignStart);
      $('.endDate').text(campaignEnd);
      // $('.progress-bar').css('width', cProg + '%');


    });
  </script>

  <div class="app__body">

    <div class="campaigns">
      <!-- <h1>Campaigns</h1> -->

      <table class="campaign__table">
        <tr class="campaign__title">
          <td class="campaign__expand">
            <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
              <use x="0" y="0" href="#arrow-down"></use>
            </svg>
          </td>
          <td class="campaign__brand">
            Go Pro
          </td>
          <td class="campaign__name">
            Hero 5 Mark II Release
          </td>
          <td class="campaign__dates">
            <span class="startDate"></span> - <span class="endDate"></span>
          </td>
          <td class="campaign__progress">
            <span class="startDate"></span> - <span class="endDate"></span>
          </td>
          <td class="campaign__actions">
            <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
              <use x="0" y="0" href="#menu"></use>
            </svg>
          </td>
        </tr>
        <tr>
          <td colspan="6" class="creatives">
            <table class="creative__table">
              <tr class="creative__title">
                <td class="creative__title__thumb">
                  <img src="/images/ss2.png" alt="">
                </td>
                <td class="creative__title__format">
                  <svg viewBox="0 0 980 300" preserveAspectRatio="xMidYMid meet">
                    <use x="0" y="0" href="#super-skin" />
                  </svg>
                </td>
                <td class="creative__title__name">
                  <%= SSM_same.name %>
                </td>
                <td class="creative__title__author">
                  <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
                    <use x="0" y="0" href="#lock" />
                  </svg>
                  1/7/2017 Steve Nash
                </td>
                <td class="creative__title__actions">
                  <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
                    <use x="0" y="0" href="#menu" />
                  </svg>
                </td>
              </tr>
              <tr>
                <td colspan="5" class="creative__placements">
                  <table class="placements__table">
                    <thead>
                      <tr>
                        <th class="placement__status">
                          Status
                        </th>
                        <th class="placement__audience">
                          Audience
                        </th>
                        <th class="placement__name">Name</th>
                        <th class="placement__progress">
                          Progress
                        </th>
                        <th class="placement__imps">Impressions</th>
                        <th class="placement__viewability">Viewability</th>
                        <th class="placement__ctr">Clickthrough Rate</th>
                        <th class="placement__er">Engagement Rate</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr class="placement">
                      <td class="placement__status">
                        <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
                          <use x="0" y="0" href="#play" />
                        </svg>
                      </td>
                      <td class="placement__audience">
                        Males Metro AU Tech
                      </td>
                      <td class="placement__name">
                        <%- pl.SSM_same.name %>
                      </td>
                      <td class="placement__progress">
                        <div class="chart-container" id="chart--SS1Prog">
                      </td>
                      <td class="placement__imps">
                        <div class="chart-container" id="chart--SS1Imps">
                      </td>
                      <td class="placement__viewability">
                        <div class="chart-container" id="chart--SS1View">
                      </td>
                      <td class="placement__ctr">
                        <div class="chart-container" id="chart--SS1CTR">
                      </td>
                      <td class="placement__er">
                        <div class="chart-container" id="chart--SS1ER">
                      </td>
                    </tr>
                  </tbody>
                  </table>
                </td> <!-- end placements -->
            </tr>
            </table>
          </td> <!-- end creative -->
        </tr>
      </table>
      <!-- end campaign -->
    </div>

  </div>

  <script src="/js/site.js"></script>
  <script src="/js/campaigns-plot.js"></script>


  <% include partials/footer.html.ejs %>
