<% include partials/header.html.ejs %>

  <div class="app__body">

    <div class="campaign-details"></div>

    <div class="campaigns">

      <div class="campaigns-welcome grid">
      <h1 class="greeting-text grid-cell grid6">Welcome Rob!</h1>
      <div class="greeting-comments grid-cell grid6">
        <input type="search" placeholder="search campaigns, creatives...">
        <button>
          <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
            <use x="0" y="0" href="#comments" />
          </svg>
        </button>
        <!-- <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
          <use x="0" y="0" href="#filter2" />
        </svg> -->
      </div>
    </div>

      <div class="campaigns__filter grid">

        <% var active = campaigns.filter(cp => moment(cp.dates.start).diff(new Date()) < 0); %>

        <div class="campaigns__count grid-cell grid6">
          <h3>You have <span><%= active.length %></span> active campaign</h3>
        </div>

        <div class="campaigns__search grid-cell grid6">

          <div class="expand-buttons">

            <button class="expand-all">
              <svg viewBox="0 0 300 300" preserveAspectRatio="xMinYMid meet">
                <use class="plus" x="0" y="0" href="#expand-plus"></use>
              </svg>
              Expand All
            </button>
            <button class="collapse-all">
              <svg viewBox="0 0 300 300" preserveAspectRatio="xMinYMid meet">
                <use class="minus"  x="0" y="0" href="#expand-minus"></use>
              </svg>
              Collapse All
            </button>

          </div>

          <div class="sort-group"><label for="campaign-sort">Sort by:</label>

          <select id="campaign-sort" class="data-filter__group-select">
            <option value="Delivery">Campaign</option>
            <option value="Audience" selected>Placement</option>
            <option value="Category">Format</option>
            <option value="Format">Features</option>
          </select></div>
        </div>


      </div>


        <% var pending = campaigns.filter(cp => moment(cp.dates.start).diff(new Date()) > 0); %>


        <% active.forEach(cp => { %>

          <% include partials/campaign-table.html.ejs %>

        <% }) %>

        <% if (pending.length > 0){ %>

          <div class="grid">
            <div class="campaigns__count grid-cell">
              <h3>You have <span><%= pending.length %></span> pending campaigns</h3>

            </div>
          </div>


        <% } %>

        <% pending.forEach(cp => { %>

          <% include partials/campaign-table.html.ejs %>

        <% }) %>


    </div>

  </div>

  <script src="/js/site.js"></script>


  <% include partials/footer.html.ejs %>
