<% include partials/header.html.ejs %>

  <div class="app__body">

    <div class="campaign-details"></div>

    <div class="report"></div>

    <div class="campaigns">

      <h1>Welcome Rob!</h1>

      <div class="campaigns__filter">
        <div class="expand-toggles">
          <button class="expand-all">Expand All</button>
          <button class="collapse-all">Collapse All</button>
        </div>

        <div class="campaigns__search">
          <input type="search" placeholder="search">

          <select class="data-filter__group-select">
            <option value="Delivery">Campaign</option>
            <option value="Audience" selected>Placement</option>
            <option value="Category">Format</option>
            <option value="Format">Features</option>
          </select>

        </div>

      </div>

        <% var active = campaigns.filter(cp => moment(cp.dates.start).diff(new Date()) < 0); %>
        <% var pending = campaigns.filter(cp => moment(cp.dates.start).diff(new Date()) > 0); %>

        <% if (active.length > 0){ %>

          <h3>You have <%= active.length %> active campaign</h3>

        <% } %>

        <% active.forEach(cp => { %>

          <% include partials/campaign-table.html.ejs %>

        <% }) %>

        <% if (pending.length > 0){ %>

          <h3>You have <%= pending.length %> pending campaigns</h3>

        <% } %>

        <% pending.forEach(cp => { %>

          <% include partials/campaign-table.html.ejs %>

        <% }) %>


    </div>

  </div>

  <script src="/js/site.js"></script>


  <% include partials/footer.html.ejs %>
