<% include partials/header.html.ejs %>


  <div class="app__body">

    <div class="campaigns">

        <% var active = campaigns.filter(cp => moment(cp.dates.start).diff(new Date()) < 0); %>
        <% var pending = campaigns.filter(cp => moment(cp.dates.start).diff(new Date()) > 0); %>

        <% if (active.length > 0){ %>

          <h2>You have <%= active.length %> active campaign</h2>

        <% } %>

        <% active.forEach(cp => { %>

          <% include partials/campaign-table.html.ejs %>

        <% }) %>

        <% if (pending.length > 0){ %>

          <h2>You have <%= pending.length %> pending campaigns</h2>

        <% } %>

        <% pending.forEach(cp => { %>

          <% include partials/campaign-table.html.ejs %>

        <% }) %>


    </div>

  </div>

  <script src="/js/site.js"></script>
  <script src="/js/campaigns-plot.js"></script>


  <% include partials/footer.html.ejs %>
