<% include partials/header.html.ejs %>

<div class="progress-bar-labels">
  <div class="start-date"></div>
  <div class="end-date"></div>
</div>
<div class="progress-bar"></div>

<div class="ct-chart ct-square"></div>

<div class="imps-chart ct-minor-third" style="width: 500px; left: 50px"></div>


<!-- <div id="content">
  <h1>Heading 1. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.   </h1>
  <h2>Heading 2. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis</h2>
  <h3>Heading 3. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h3>
  <h4>Heading 4</h4>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
  <p class="small">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
</div> -->



<% include partials/footer.html.ejs %>
