<% include partials/header.html.ejs %>

  <div class="main grid">


    <form class="login__box">

      <h1>Login</h1>

      <div class="labelled-input">
        <label for="email">Email address</label>
        <input name="email" type="email">
      </div>

    <div class="labelled-input">
      <label for="password">Password</label>
      <input name="password" type="password">
    </div>

    <a href="#">Forgotten your password?</a>

    <button type="submit" value="Login">Login</button>



    </form>

  </div>


  <div class="footer grid-cell grid12 no-gutter">
      Footer
  </div>





  <% include partials/footer.html.ejs %>
