<% include partials/header.html.ejs %>

<header class="app__header grid">

  <div class="app__header__logo grid-cell grid3">
    <svg viewBox="200 -20 980 300">
      <use x="0" y="0" href="#logo" />
    </svg>
  </div>

  <div class="app__header__menu grid-cell">
    <a href="#">Our story</a>
    <a href="#">Showcase</a>
    <a href="#">Products</a>
    <a href="#">Contact</a>
  </div>

  <div class="app__header__profile grid-cell grid1">
    <button class="app__header__profile__login">Login</button>
  </div>

</header>

  <header class="main-header"></header>

  <div class="main grid">

    <div class="side-left grid-cell grid2 no-gutter">

    </div>

    <div class="charts grid-cell grid10 no-gutter">

    </div>

  </div>

  <div class="footer grid-cell grid12 no-gutter">
      Footer
  </div>





  <% include partials/footer.html.ejs %>
