<% include partials/header-login.html.ejs %>

  <div class="app__body grid">

    <div class="spinner">
      <svg class="spinner__icon" viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
        <use x="0" y="0" href="#spinner"></use>
      </svg>
    </div>


    <form class="login__box">

      <h1>Login</h1>

      <div class="labelled-input">
        <label for="email">Email address</label>
        <input name="email" type="email">
      </div>

    <div class="labelled-input">
      <label for="password">Password</label>
      <input name="password" type="password">
    </div>

    <a href="#">Forgotten your password?</a>

    <div class="button">Login</div>



    </form>

  </div>

  <script src="/js/site.js"></script>



  <% include partials/footer.html.ejs %>
