<% include partials/header.html.ejs %>

  <div class="app__body grid">


    <form class="login__box">

      <h1>Login</h1>

      <div class="labelled-input">
        <label for="email">Email address</label>
        <input name="email" type="email">
      </div>

    <div class="labelled-input">
      <label for="password">Password</label>
      <input name="password" type="password">
    </div>

    <a href="#">Forgotten your password?</a>

    <div class="button">Login</div>



    </form>

  </div>

  <script src="/js/site.js"></script>



  <% include partials/footer.html.ejs %>
