<% include partials/header.html.ejs %>

  <header class="main-header"></header>

  <div class="main grid">

    <div class="side-left grid-cell grid2 no-gutter">

    </div>

    <div class="charts grid-cell grid10 no-gutter">

    </div>

  </div>

  <div class="footer grid-cell grid12 no-gutter">
      Footer
  </div>





  <% include partials/footer.html.ejs %>
