//
// Typography
// -----------------

html{
	height: 100%;
}

@columnColor: rgba(255, 0,0,0.1);

@baseWidth: 100vw;

@numColumns:12;


body {
	padding-top:0.1px; // collapsing margins fix
	color: @black;
	font-family: @fontFamily;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	position:relative;
	background-image:	linear-gradient(to bottom, #000 0%, #000 5%, transparent 5%, transparent 100%);
	// background-image:none;
	background-size: 1rem 1rem;
	background-repeat: repeat;
	background-position: left top;
	&:before{
		content: '';
		display:block;
		// display:none;
		position: absolute;
		top:0;
		left: 0;
		right:0;
		margin: 0 auto;
		width: @baseWidth;
		height: 100%;
		background-image:
		repeating-linear-gradient(to right, @columnColor 0px, @columnColor ~"calc(" @baseWidth ~"/" @numColumns ~"- 1rem)", transparent ~"calc(" @baseWidth ~"/" @numColumns ~"- 1rem)", transparent ~"calc(" @baseWidth ~"/" @numColumns ~")");
		background-position: left 0.5rem top;
		z-index:-1;
	}
}

// @import '../vendor/modular-scale.less';



.parameters(media-desktop){
	// @block: 2vw; // line height of paragraph
	@p-size: 1rem; // font-size in rem

	// modular scale values - minor third - http://type-scale.com/
	@size-4: 2.074;
	@size-3: 1.728;
	@size-2: 1.44;
	@size-1: 1.2;
	@size-0: 1;
	@size-small: 0.833;
	@size-xsmall: 0.694;


}

.parameters(media-small-device){
	// @block: 2vw; // line height of paragraph
	@p-size: 1rem; // font-size in rem

	// modular scale values - major second - http://type-scale.com/
	@size-4: 1.602;
	@size-3: 1.424;
	@size-2: 1.266;
	@size-1: 1.125;
	@size-0: 1;
	@size-small: 0.889;
	@size-xsmall: 0.79;


}

.parameters(media-phone-portrait){
	@block: 3vw; // line height of paragraph
	@p-size: 1rem; // font-size in rem

	// modular scale values - minor second - http://type-scale.com/
	@size-4: 1.296;
	@size-3: 1.215;
	@size-2: 1.138;
	@size-1: 1.067;
	@size-0: 1;
	@size-small: 0.937;
	@size-xsmall: 0.878;


}

.make-headings(@device){
	.parameters(@device);
	h1{
		font-size: @p-size * @size-4;
		line-height: ceil(@p-size * @size-4);
	}
	h2{
		font-size: @p-size * @size-3;
		line-height: ceil(@p-size * @size-3);
	}
	h3{
		font-size: @p-size * @size-2;
		line-height: ceil(@p-size * @size-2);
	}
	h4, .size-1{
		font-size: @p-size * @size-1;
		line-height: ceil(@p-size * @size-1);
	}
	p{
		font-size: @p-size * @size-0;
		line-height: ceil(@p-size * @size-0);
	}
	p.small{
		font-size: @p-size * @size-small;
		line-height: ceil(@p-size * @size-small);
	}
	p.xsmall{
		font-size: @p-size * @size-xsmall;
		line-height: ceil(@p-size * @size-xsmall);
	}
}

// some base font-sizes, set in rems, sized according to modular scale for that media query

html{
	font-size: 18px;
}
.make-headings(media-desktop);

.media-small-device({
	.make-headings(media-small-device);
	// params already invoked in mixin above
	html{
		font-size: 14px;
	}
});

.media-phone-portrait({
	.make-headings(media-phone-portrait);
	// params already invoked in mixin above
	// fluid typography for portrait mobile devices - minor zooming and resizing possible due to em (8px + block size)
	html{
		font-size: ~"calc(0.5em + @{block})";
	}
});

h1, h2, h3, h4, p{
	margin:0.5rem 0;
}

//
// Grid
// -----------------

.grid{
	width: @baseWidth;
	margin: 0 auto;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.grid-cell{
	position:relative;
	width: auto;
	height: 100%;
	margin: 0 0.5rem;
	border: 1px solid red;
	flex: 1;
	height: 7rem;
	display:flex;
	align-items: center;
}

section{
	margin-top: 1rem;
}

.baseGridWidths(@i: 1) when (@i <= (@numColumns)) {
  .grid-cell.grid@{i} {
    width: ~"calc(("@baseWidth~" * "@i/@numColumns~") - 1rem)";
		flex:none;
  }
	// .grid-cell.wrapper
  .baseGridWidths(@i + 1);
}

.baseGridWidths();

.row{
	width:100%;
	display:flex;
	margin-top: 1rem;
}

.grid-cell.wrapper{
	// Not exactly what I wanted, but the simplest solution. Cannot make a grid-cell.wrapper 'inherit' and manipulate .grid-cell's original width to 'extend' it by 0.5rem
	margin: 0;
	display:flex;
	&:before{
		content: '';
		position: absolute;
		width: ~"calc(100% + 0.5rem)";
		height: 100%;
		top:0;
		left:0;
		z-index: -1;
		background: yellow;
	}
}

.grid-cell.callout-left:before{
	content: '';
	position:absolute;
	width: 100vw;
	height: 100%;
	right:0;
	top:0;
	background: lime;
	z-index: -1;
}

section.red-bg{
	background: red;
	.grid-cell{
		border-color: lime;
	}
}
